* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
body::-webkit-scrollbar{
    background-color: #fff;
    width: .55vw;
}
body::-webkit-scrollbar-thumb{
    width: .55vw;
    border-radius: 10px;
    background-color: #14a800;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
}
.right{
    height: 80vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 5vh
    ;
}
.right h1{
    color: #14a800;
    font-size: 10vh;
}
.right h4{
    color: #54604c;
    font-size: 3vh;
    font-weight: 100;
}
.right a{
    height: 7vh;
    width: 11vw;
    background-color: #14a800;
    color: #fff;
    font-size: 2.5vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.left{
    height: 70vh;
    width: 45%;
    border: 2px solid #14a800;
    border-radius: 5vh;
}