* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 0.55vw;
}
body::-webkit-scrollbar-thumb {
  width: 0.55vw;
  border-radius: 10px;
  background-color: #14a800;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
}
.left {
  height: 120vh;
  width: 30vw;
  padding-top: 20vh;
  padding-left: 10vh;
  position: fixed;
}
.left h1 {
  color: #54604c;
}
.leftin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 8vh;
  padding-bottom: 8vh;
  gap: 3vh;
}
.leftin a:nth-child(1) {
  text-decoration: none;
  color: #14a800;
  padding-left: 3vh;
  pointer-events: all;
}
.leftin a:nth-child(2) {
  text-decoration: none;
  color: #14a800;
  padding-left: 3vh;
  pointer-events: all;
}
.leftin a:nth-child(3) {
  text-decoration: none;
  padding-left: 3vh;
  pointer-events: all;
}
.leftin a {
  text-decoration: none;
  color: #5e6d55d7;
  padding-left: 3vh;
  pointer-events: none;
}
.leftin a:nth-child(3) {
  background: linear-gradient(to right, #14a800e5, transparent);
  color: #fff;
}
form {
  height: 90vh;
  width: 70vw;
  margin-top: 5vh;
  margin-left: 30vw;
  padding-top: 10vh;
}
/* .right {
    height: 110vh;
    width: 70vw;
    margin-top: 5vh;
    margin-left: 30vw;
  } */
.right h1 {
  font-size: 8vh;
  color: #54604c;
}
.right h4 {
  font-size: 3.5vh;
  color: #5e6d55d7;
  margin-top: 8vh;
}

/* input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  } */
textarea {
  background-color: #f1f1f1;
  width: 40vw;
  height: 40vh;
  margin-top: 3vh;
  border: 2px solid #14a800;
  border-radius: 5px;
  font-size: 3vh;
  font-weight: 100;
  padding: 4vh;
  color: #5e6d55d7;
}
textarea:active {
  border: 2px solid #14a800;
}

.right .btnright {
  height: 10vh;
  width: 70vw;
  position: fixed;
  z-index: 9;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right .btnright .btns {
  height: 6vh;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right .btnright .btns button {
  height: 6vh;
  width: 20vw;
  font-size: 3vh;
  background-color: #14a800;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
#sub {
  height: 6vh;
  width: 20vw;
}
#sub input[type="submit"] {
  height: 6vh;
  width: 20vw;
  font-size: 3vh;
  background-color: #14a800;
  border: none;
  padding: 0;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sub input[type="submit"]:hover {
  background-color: #14a800e5;
}
.right .btnright .btns button:nth-child(1) {
  height: 6vh;
  width: 20vw;
  font-size: 3vh;
  background-color: #dadada;
  border-radius: 50px;
  cursor: pointer;
}
.right .btnright .btns button:nth-child(1):hover a {
  background-color: #dadada;
  border: 2px solid #14a800;
}
.right .btnright .btns button:nth-child(1) a {
  color: #14a800;
}
.right .btnright .btns button a {
  text-decoration: none;
  color: #fff;
  display: block;
  border: none;
  height: 6vh;
  width: 20vw;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .left-up {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
    z-index: 98;
    background-color: #fff;
  }
  .left {
    height: 22vh;
    width: 90%;
    box-shadow: 2px #54604c;
    border-radius: 10px;
    padding: 0 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vh;
    box-shadow: 0.5px 0.5px 10px #14a800e5;
  }
  .left h1 {
    color: #54604c;
    font-size: 5vh;
    font-weight: 900;
  }
  .leftin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0vh 0;
    gap: 0.5vh;
    font-size: 20px;
    font-weight: 100;
  }
  .leftin a:nth-child(1) {
    text-decoration: none;
    color: #14a800;
    padding-left: 0vh;
    pointer-events: all;
  }
  .leftin a:nth-child(2) {
    text-decoration: none;
    color: #14a800;
    padding-left: 0vh;
    pointer-events: all;
  }
  .leftin a:nth-child(3) {
    text-decoration: none;
    color: #14a800;
    padding-left: 0vh;
    pointer-events: all;
  }
  .leftin a:nth-child(4) {
    text-decoration: none;
    width: 100%;
    padding-left: 0vh;
    pointer-events: all;
  }
  .leftin a {
    text-decoration: none;
    color: #5e6d55d7;
    padding-left: 3vh;
    pointer-events: none;
  }
  .leftin a:nth-child(3) {
    background: linear-gradient(to right, #14a800e5, transparent);
    color: #fff;
  }
  form {
    height: 200vh;
    width: 100%;
    margin-top: 5vh;
    margin-left: 0vw;
    padding-top: 0vh;
  }
  .right {
    padding: 2vh;
    position: relative;
    top: 40%;
    height: auto;
    width: 100%;
    margin-top: 0vh;
    margin-left: 0vw;
  }
  .right h1 {
    font-size: 6vh;
    font-weight: 900;
    line-height: 60px;
    color: #54604c;
  }
  .right h4 {
    font-size: 3vh;
    color: #5e6d55d7;
    margin-top: 3vh;
  }

  /* input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  } */
  textarea {
    background-color: #f1f1f1;
    width: 100%;
    height: 20vh;
    margin-top: 3vh;
    border: 2px solid #14a800;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: 100;
    padding: 1vh;
    color: #5e6d55d7;
  }
  textarea:active {
    border: 2px solid #14a800;
  }
  .right .btnright {
    height: 10vh;
    width: 92%;
    position: fixed;
    z-index: 9;
    bottom: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .right .btnright .btns {
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .right .btnright .btns button {
    height: 6vh;
    width: 20vw;
    font-size: 3vh;
    background-color: #14a800;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  #sub {
    height: 6vh;
    width: 50%;
  }
  #sub input[type="submit"] {
    height: 6vh;
    width: 100%;
    font-size: 3vh;
    background-color: #14a800;
    border: none;
    padding: 0;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sub input[type="submit"]:hover {
    background-color: #14a800e5;
  }
  .right .btnright .btns button:nth-child(1) {
    height: 6vh;
    width: 50%;
    font-size: 3vh;
    background-color: #dadada;
    border-radius: 50px;
    cursor: pointer;
  }
  .right .btnright .btns button:nth-child(1):hover a {
    background-color: #dadada;
    border: 2px solid #14a800;
  }
  .right .btnright .btns button:nth-child(1) a {
    color: #14a800;
  }
  .right .btnright .btns button a {
    text-decoration: none;
    color: #fff;
    display: block;
    border: none;
    height: 6vh;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}





@media (min-width: 481px) and (max-width: 900px) {
  .main {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  .left {
    height: 120vh;
    width: 30vw;
    padding-top: 25vh;
    padding-left: 1vh;
    position: fixed;
  }
  .left h1 {
    color: #54604c;
    font-size: 3vh;
    font-weight: 900;
  }
  .leftin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 1vh;
  }
  .leftin a:nth-child(1) {
    text-decoration: none;
    color: #14a800;
    padding-left: 3vh;
    pointer-events: all;
  }
  .leftin a:nth-child(2) {
    text-decoration: none;
    color: #14a800;
    padding-left: 3vh;
    pointer-events: all;
  }
  .leftin a:nth-child(3) {
    text-decoration: none;
    color: #14a800;
    padding-left: 3vh;
    pointer-events: all;
  }
  .leftin a:nth-child(4) {
    text-decoration: none;
    width: 100%;
    padding-left: 3vh;
    pointer-events: all;
  }
  .leftin a {
    text-decoration: none;
    color: #5e6d55d7;
    padding-left: 3vh;
    pointer-events: none;
    font-size: 1.7vh;
    font-weight: 900;
  }
  .leftin a:nth-child(3) {
    background: linear-gradient(to right, #14a800e5, transparent);
    color: #fff;
  }
  form {
    height: 90vh;
    width: 70vw;
    margin-top: 5vh;
    margin-left: 32vw;
    padding-top: 5vh;
  }
  .right h1 {
    font-size: 6vh;
    font-weight: 900;
    line-height: 60px;
    color: #54604c;
  }
  .right h4 {
    font-size: 2.8vh;
    color: #5e6d55d7;
    margin-top: 3vh;
  }

  
  /* input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  } */
  textarea {
    background-color: #f1f1f1;
    width: 95%;
    height: 40vh;
    margin-top: 3vh;
    border: 2px solid #14a800;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: 100;
    padding: 3vh;
    color: #5e6d55d7;
  }
  textarea:active {
    border: 2px solid #14a800;
  }

  .right .btnright {
    height: 10vh;
    width: 96%;
    position: fixed;
    z-index: 9;
    bottom: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .right .btnright .btns {
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .right .btnright .btns button {
    height: 4vh;
    font-size: 2.5vh;
    background-color: #14a800;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  .right .btnright .btns button:hover {
    background-color: #14a800e5;
  }
  .right .btnright .btns button:nth-child(1) {
    height: 4vh;
    width: 50%;
 
    background-color: #dadada;
    border-radius: 50px;
    cursor: pointer;
  }
  .right .btnright .btns button:nth-child(1):hover a {
    background-color: #dadada;
    border: 2px solid #14a800;
  }
  .right .btnright .btns button:nth-child(1) a {
    color: #14a800;
    font-size: 2.5vh;
    height: 4vh;
  }
  .right .btnright .btns button a {
    text-decoration: none;
    color: #fff;
    display: block;
    border: none;
    height: 6vh;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  #sub {
    height: 4vh;
    width: 100%;
  }
  #sub input[type="submit"] {
    height: 4vh;
    width: 50%;
    font-size: 2.5vh;
    background-color: #14a800;
    border: none;
    padding: 0;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sub input[type="submit"]:hover {
    background-color: #14a800e5;
  }
}
